Repository jialilve/mllm, changes with the owners that CODEOWNERS names for each.
All owners: @chenghuaWang, @oreomaker, @yirongjie, @liang1232018, @xumengwei

Add Gemma3-1B-IT and Qwen3-1.7B conversion configs
  examples/gemma3/config_1B_w4a32_kai.json
  examples/gemma3/config_1B_w4a8_i8mm_kai.json
  examples/gemma3/quant_cfg_1B_w4a32_kai.json
  examples/gemma3/quant_cfg_1B_w4a8_i8mm_kai.json
  examples/qwen3/README_1.7B.md
  examples/qwen3/config_1.7B_w4a32_kai.json
  examples/qwen3/config_1.7B_w4a8_i8mm_kai.json
  examples/qwen3/quant_cfg_1.7B_w4a32_kai.json
  examples/qwen3/quant_cfg_1.7B_w4a8_i8mm_kai.json
Owners: none

feat: add Gemma3-1B-IT and Qwen3-1.7B conversion configs
  examples/qwen3/main.cpp
Owners: none

feat: add Qwen3 FA2 model support and LLM benchmark tools
  mllm/models/qwen3/modeling_qwen3_fa2.hpp
  tools/mllm-llm-benchmark/main.cpp
  tools/mllm-llm-benchmark/models/All.hpp
  tools/mllm-llm-benchmark/models/Qwen3_W4A32_KAI.hpp
Owners: @chenghuaWang

add Qwen3 W4A8 I8MM KAI benchmark model
  tools/mllm-llm-benchmark/models/Qwen3_W4A8_I8MM_KAI.hpp
Owners: none

Update quant_cfg_1B_w4a8_i8mm_kai.json config file
  examples/gemma3/quant_cfg_1B_w4a8_i8mm_kai.json
Owners: none

feat: add Gemma3-1B-IT model support
  examples/CMakeLists.txt
  examples/gemma3/CMakeLists.txt
  examples/gemma3/main.cpp
  mllm/models/gemma3/configuration_gemma3.hpp
  mllm/models/gemma3/modeling_gemma3.hpp
  mllm/models/gemma3/modeling_gemma3_fa2.hpp
  mllm/models/gemma3/tokenization_gemma3.hpp
Owners: none

Update qwen2vl main.cpp and modeling_qwen2vl.hpp: add overloaded perfSummary function for benchmarking
  examples/qwen2vl/main.cpp
  mllm/models/qwen2vl/modeling_qwen2vl.hpp
Owners: @chenghuaWang

feat: add Gemma3-1B-IT and Qwen3-1.7B conversion configs
  examples/qwen3/main.cpp
Owners: none

Add Gemma3-1B-IT and Qwen3-1.7B conversion configs
  examples/gemma3/config_1B_w4a32_kai.json
  examples/gemma3/config_1B_w4a8_i8mm_kai.json
  examples/gemma3/quant_cfg_1B_w4a32_kai.json
  examples/gemma3/quant_cfg_1B_w4a8_i8mm_kai.json
  examples/qwen3/README_1.7B.md
  examples/qwen3/config_1.7B_w4a32_kai.json
  examples/qwen3/config_1.7B_w4a8_i8mm_kai.json
  examples/qwen3/quant_cfg_1.7B_w4a32_kai.json
  examples/qwen3/quant_cfg_1.7B_w4a8_i8mm_kai.json
Owners: none

feat: add Qwen3 FA2 model support and LLM benchmark tools
  mllm/models/qwen3/modeling_qwen3_fa2.hpp
  tools/mllm-llm-benchmark/main.cpp
  tools/mllm-llm-benchmark/models/All.hpp
  tools/mllm-llm-benchmark/models/Qwen3_W4A32_KAI.hpp
Owners: @chenghuaWang

Update quant_cfg_1B_w4a8_i8mm_kai.json config file
  examples/gemma3/quant_cfg_1B_w4a8_i8mm_kai.json
Owners: none

feat: add Gemma3-1B-IT model support
  examples/CMakeLists.txt
  examples/gemma3/CMakeLists.txt
  examples/gemma3/main.cpp
  mllm/models/gemma3/configuration_gemma3.hpp
  mllm/models/gemma3/modeling_gemma3.hpp
  mllm/models/gemma3/modeling_gemma3_fa2.hpp
  mllm/models/gemma3/tokenization_gemma3.hpp
Owners: none

add Qwen3 W4A8 I8MM KAI benchmark model
  tools/mllm-llm-benchmark/models/Qwen3_W4A8_I8MM_KAI.hpp
Owners: none

Update qwen2vl main.cpp and modeling_qwen2vl.hpp: add overloaded perfSummary function for benchmarking
  examples/qwen2vl/main.cpp
  mllm/models/qwen2vl/modeling_qwen2vl.hpp
Owners: @chenghuaWang

Update qwen2_5vl runner
  examples/qwen2_5vl/main.cpp
  mllm/models/qwen2_5vl/modeling_qwen2_5vl.hpp
Owners: @chenghuaWang

implement qwen3 npu modeling
  examples/CMakeLists.txt
  examples/qwen3_npu/CMakeLists.txt
  examples/qwen3_npu/main.cpp
  mllm/models/qwen3_npu/configuration_qwen3_npu.hpp
  mllm/models/qwen3_npu/modeling_qwen3_npu.hpp
  mllm/models/qwen3_npu/tokenization_qwen3_npu.hpp
Owners: none

feat(qnn,qwen3_npu): initial support for qwen3-1.7b-int8-rotated on NPU
  examples/qwen3_npu/main.cpp
  mllm/backends/qnn/CustomLayers.cpp
  mllm/backends/qnn/QNNAllocator.cpp
  mllm/backends/qnn/op/QNNLinearOp.cpp
  mllm/models/qwen3_npu/config_qwen3_1.7B_qnn.json
  task.py
Owners: @oreomaker, @liang1232018, @chenghuaWang

implement qwen npu subGraph fusion
  examples/qwen3/main.cpp
  examples/qwen3_npu/main.cpp
  examples/qwen_npu/main.cpp
  mllm/backends/base/Backend.hpp
  mllm/backends/qnn/QNNBackend.cpp
  mllm/backends/qnn/QNNBackend.hpp
  mllm/backends/qnn/QNNDispatcher.cpp
  mllm/backends/qnn/op/QNNLinearOp.cpp
  mllm/backends/qnn/passes/Qwen3IRGraphFusionPass.cpp
  mllm/core/Tensor.cpp
  mllm/models/qwen3/modeling_qwen3.hpp
  mllm/models/qwen3_npu/modeling_qwen3_npu.hpp
Owners: @oreomaker, @liang1232018, @chenghuaWang

WIP: 保存当前本地修改，便于切回 main 做其他事
  android_logs/qwen3_run.log
  examples/CMakeLists.txt
  examples/qwen3_npu/main.cpp
  mllm/models/qwen3/modeling_qwen3.hpp
  mllm/models/qwen3_npu/modeling_qwen3_npu.hpp
  pymllm/utils/mllm_convertor.py
Owners: @chenghuaWang

CODEOWNERS:

# Contributors can indicate their level of familiarity with a specific functional module in this document to demonstrate whether they are capable of reviewing the code related to these modules.

# Core

/core/Storage @chenghuaWang
/core/Tensor* @chenghuaWang @oreomaker @yirongjie
/core/DataTypes @yirongjie @chenghuaWang
/core/DeviceTypes @chenghuaWang

# Install and ENV

/cmake/ @chenghuaWang
/.devcontainer/ @chenghuaWang
/docker/ @chenghuaWang

# Documents & Website Related

/docs/ @chenghuaWang @oreomaker @yirongjie @liang1232018 @xumengwei

# Backends

/mllm/backends/cpu/ @yirongjie @chenghuaWang @oreomaker
/mllm/backends/arm/ @chenghuaWang @yirongjie
/mllm/backends/qnn/ @oreomaker @liang1232018 @chenghuaWang

# Kernels

/mllm/backends/cpu/kernels/common/ggml/quantize @yirongjie
/mllm/backends/cpu/kernels/arm/linear/ggml @yirongjie
/mllm/backends/cpu/kernels/arm/linear/mkernel @chenghuaWang
/mllm/backends/cpu/kernels/common/fa2 @chenghuaWang
/mllm/backends/cpu/kernels/common/paged_attn @chenghuaWang

# Compiler

/mllm/compile/ @chenghuaWang

# KVCache

/mllm/nn/lmcache/ @chenghuaWang @oreomaker
/mllm/nn/lmcache/aux_page @chenghuaWang

# models
/mllm/models/qwen3 @chenghuaWang
/mllm/models/qwen2vl @chenghuaWang
/mllm/models/qwen2_5vl @chenghuaWang
/mllm/models/llama @oreomaker
/mllm/models/vocos @oreomaker
/mllm/models/minicpm_o2_6 @oreomaker
